<%~ yaml({
    extends: 'default',
    rules: {
        'line-length': 'disable',
        'document-start': 'disable',
        comments: { 'min-spaces-from-content': 1 },
        truthy: { 'check-keys': false },
        braces: { 'max-spaces-inside': 1 },
        brackets: { 'max-spaces-inside': 1 },
        indentation: { spaces: format.indent_width, 'indent-sequences': 'consistent' },
        ...tool('yamllint').rules,
        ...Object.fromEntries(rulesOff('config-files/yaml').map((name) => [name, 'disable'])),
    },
}).trimEnd() %>
