    {
        files: CODE,
        plugins: { '@tanstack/query': tanstackQuery },
        rules: {
            '@tanstack/query/exhaustive-deps': 'error',
            '@tanstack/query/no-rest-destructuring': 'error',
            '@tanstack/query/stable-query-client': 'error',
            '@tanstack/query/no-unstable-deps': 'error',
            '@tanstack/query/infinite-query-property-order': 'error',
        },
    },
