[extend]
useDefault = true
<% for (const entry of (settings['tools.gitleaks.allow'] ?? [])) { %>
# <%= entry.reason %>
[[allowlists]]
description = <%= tomlString(entry.description ?? entry.reason) %>
<% if ((entry.paths ?? []).length > 0) { %>paths = <%= json(entry.paths, 0) %>
<% } %><% if ((entry.regexes ?? []).length > 0) { %>regexes = <%= json(entry.regexes, 0) %>
<% } %><% if (entry.regex_target) { %>regexTarget = <%= tomlString(entry.regex_target) %>
<% } %><% if (entry.condition) { %>condition = <%= tomlString(entry.condition) %>
<% } %><% } %>
