    {
        files: ['**/*.{jsx,tsx}'],
        ignores: ['**/*.{test,spec}.*', '**/tests/**'],
        plugins: { i18next },
        rules: { 'i18next/no-literal-string': ['error', { mode: 'jsx-text-only' }] },
    },
