cognitive-complexity-threshold = 8
too-many-lines-threshold = <%= limit('function_lines', 'rust') ?? limit('function_lines') ?? 60 %>
too-many-arguments-threshold = 5
avoid-breaking-exported-api = false
allow-unwrap-in-tests = true
allow-expect-in-tests = true
allow-dbg-in-tests = true
