AllCops:
    NewCops: enable
    SuggestExtensions: false
    Exclude:
        - "vendor/**/*"
        - "node_modules/**/*"
        - "tmp/**/*"
        - "bin/**/*"
        - "db/schema.rb"
        - ".gspot/**/*"

Metrics/CyclomaticComplexity:
    Max: 8

Metrics/PerceivedComplexity:
    Max: 8

Metrics/MethodLength:
    Max: <%= limit('function_lines', 'ruby') ?? limit('function_lines') ?? 60 %>
    CountAsOne: ["array", "hash", "heredoc", "method_call"]

Metrics/ClassLength:
    Max: <%= limit('file_lines', 'ruby') ?? limit('file_lines') ?? 300 %>

Metrics/ModuleLength:
    Max: <%= limit('file_lines', 'ruby') ?? limit('file_lines') ?? 300 %>

Metrics/ParameterLists:
    Max: 5

Metrics/BlockLength:
    Exclude:
        - "spec/**/*"
        - "test/**/*"
        - "**/*.gemspec"
        - "config/routes.rb"

Style/Documentation:
    Enabled: true

Style/FrozenStringLiteralComment:
    Enabled: true

Lint/RaiseException:
    Enabled: true

Security/Eval:
    Enabled: true

Security/Open:
    Enabled: true

Security/YAMLLoad:
    Enabled: true

Security/MarshalLoad:
    Enabled: true
