{
    "compilerOptions": {
        "checkJs": true,
        "allowJs": true,
        "strict": true,
        "noEmit": true,
        "target": "ES2022",
        "module": "NodeNext",
        "moduleResolution": "NodeNext",
        "skipLibCheck": true,
        "resolveJsonModule": true
    },
    "include": <%= json(files('.js').concat(files('.mjs'), files('.cjs')).filter((path) => !path.startsWith('.gspot/')).map((path) => '../' + path)) %>
}
