{
    "compilerOptions": {
        "checkJs": true,
        "allowJs": true,
        "strict": true,
        "noEmit": true,
        "target": "ES2022",
        "module": "NodeNext",
        "moduleResolution": "NodeNext",
        "skipLibCheck": true,
        "resolveJsonModule": true
    },
    "include": ["../**/*.js", "../**/*.mjs", "../**/*.cjs"],
    "exclude": <%= json(["../**/node_modules/**", "./**", "../.gspot/**", "../**/eslint.config.mjs", "../**/eslint.config.js", "../**/eslint.config.cjs", "../**/dist/**", "../**/build/**", "../**/coverage/**", "../**/.build/**", "../**/DerivedData/**", ...policy.declarations.flatMap((entry) => entry.paths).map((path) => '../' + path)]) %>
}
